{% if staffsession %}
{% extends "admin_base.html" %}
{% elif usersession %}
{% extends "user_base.html" %}
{% else %}
{% extends "default_base.html" %}
{% endif %}
{% block title %}All Consultations | DoctorOnTheGo{% endblock %}

{% block content %}
<style>
  .centralisation {


  }

  #myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}


.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}

</style>
<h1 class="display-4"> Shown appointments </h1>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
  <div class="table-responsive">
    <table class="table table-striped table-sortable" id = 'myTable' >
      <thead>
        <tr>

          <th> ID </th>
          <th>Username</th>
          <th>Patient Name </th>
          <th>Email</th>
          <th>Appointment present?</th>
          <th>Gender</th>
          <th>Date of appointment</th>
          <th>Time: </th>
          <th>Doctor of choice</th>
          <th>Zoom Link</th>
          <th>Remarks</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <tr class = "header ">
          {% for consult,name in zip(consultation,namelist) %}


          <td> {{ consult.id }}</td>
          <td>{{ consult.username }}</td>
          <td>{{ name }} </td>

          <td>{{ consult.email }}</td>
          {% if consult.consultstate == True %}
          <td>Yes</td>

          {% elif consult.consultstate == False %}
          <td>No </td>
          {% endif %}

          <td>{{ consult.gender }}</td>
          <td>{{ consult.date_joined }}</td>
          <td>{{ consult.time }}</td>

          {% if consult.doc == "t"%}
          <td>Dr Tan</td>


          {% elif consult.doc == "m" %}
          <td>Dr Mok</td>


          {% elif consult.doc == "l" %}

          <td>Dr Lim</td>

          {% else %}
          <td> </td>

          {% endif %}
          {% if consult.doc == "t"%}

          <td> Zoom Link</td>

          {% elif consult.doc  == "m" %}

          <td>Zoom Link</td>


          {% elif consult.doc  == "l" %}

          <td>Zoom link</td>

          {% else %}
          <td> </td>

          {% endif %}




          <td>{{ consult.remarks }}</td>




          <td>


                     <form method="POST"
                action="{{ url_for('delete_consultationAd', user_id = consult.id) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <!--<input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{consult.username}}?');">-->
              <!-- Button to Open the Modal -->
              <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#myModal_{{consult.id}}">
                Delete
              </button>
              <div class="modal" id="myModal_{{consult.id}}">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Delete Confirmation</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                      Are you sure you want to delete {{consult.username}} appointment
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <input type="submit" value="Delete" class="btn btn-danger">

                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                    </div>


                  </div>
                </div>
              </div>
            </form>


          </td>
        </tr>
      {% endfor %}




      </tbody>
    </table>
  </div>

<script>


function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function sortTableByColumn(table, column, asc = true) {
    const dirModifier = asc ? 1 : -1;
    const tBody = table.tBodies[0];
    const rows = Array.from(tBody.querySelectorAll("tr"));

    // Sort each row
    const sortedRows = rows.sort((a, b) => {
        const aColText = a.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();
        const bColText = b.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();

        return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);
    });

    // Remove all existing TRs from the table
    while (tBody.firstChild) {
        tBody.removeChild(tBody.firstChild);
    }

    // Re-add the newly sorted rows
    tBody.append(...sortedRows);

    // Remember how the column is currently sorted
    table.querySelectorAll("th").forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
    table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-asc", asc);
    table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-desc", !asc);
}

document.querySelectorAll(".table-sortable th").forEach(headerCell => {
    headerCell.addEventListener("click", () => {
        const tableElement = headerCell.parentElement.parentElement.parentElement;
        const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
        const currentIsAscending = headerCell.classList.contains("th-sort-asc");

        sortTableByColumn(tableElement, headerIndex, !currentIsAscending);
    });
});

</script>

    {% endblock %}


