{% extends "user_base.html" %}
{% block head %}
<link rel="stylesheet" href="static/CSS/login_signup.css"> {% endblock %}
{% block title %}Updating... | DoctorOnTheGo{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div class="background-image">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-colour mt-6 p-4" id="loginForm">
                <form action="{{ request.path }}" method="POST" class="row g-3">

                    {{ form.csrf_token }}

                    {% with messages = get_flashed_messages(with_categories=true) %}
                    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}


                    <h4 class="text-black">Update Your Account!</h4>
                    <div class="col-12">
                        {{ render_field(form.old_password, class="form-control") }}
                        <!--label>Old Password:</label>
                        <input type="password" name="password" class="form-control" placeholder="Password"-->
                    </div>

                    {% for error in form.old_password.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor%}


                    <div class="col-12">
                        {{ render_field(form.new_password, class="form-control") }}
                        <!--label>Password:</label>
                        <input type="password" name="password" class="form-control" placeholder="Password"-->
                    </div>

                    {% for error in form.new_password.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor%}

                    <div class="col-12">
                        {{ render_field(form.confirm_new_password, class="form-control") }}
                        <!--label>Confirm Password:</label>
                        <input type="password" name="password" class="form-control" placeholder=" Confirm Password"-->
                    </div>

                    {% for error in form.confirm_new_password.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor%}

                    <div class="col-12">
                        <button type="submit" class="btn btn-dark float-end">Update</button>
                    </div>
                </form>
                <hr class="mt-4">
                <div class="col-12">
                    <p class="text-center mb-0">Change Your Mind? <a href="/user">Back To User Page</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}